// Colors
$primary-color: #42b983;
$primary-dark-color: #369b72;
$secondary-color: #ff9900;
$danger-color: #ff4136;

$border: #ccc;

$card-border: $border;
$white: #fff;
$player-background: #f9f9f9;
$placeholder-background: #eee;
$player-border: $border;

// Font
$base-font-family: "Arial", sans-serif;

// Spacing
$spacing-small: 10px;
$spacing-medium: 20px;
$spacing-large: 30px;
